body{
  background-image:url("the_worg.png");
  background-repeat: repeat;
  background-size: 120%;
  background-color: darkgreen;

}

.App {
  text-align: center;

}

.glow {
  font-size: 80px;
  font-style:oblique;
  color: #b4b4b4;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 2.5s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #b4b4b4, 0 0 20px #b4b4b4, 0 0 30px #36b500, 0 0 40px #278400, 0 0 50px #1d6200, 0 0 60px #185000, 0 0 70px #0e2e01;
  }
  to {
    text-shadow: 0 0 20px #b4b4b4, 0 0 30px #3fd200, 0 0 40px #3fd200, 0 0 50px #3fd200, 0 0 60px #3fd200, 0 0 70px #3fd200, 0 0 80px #3fd200;
  }
}



.Cards{
  display: inline-flex;
  padding: 1%;
}

#repeatButton {
  appearance: none;  
  border: none;
  background: url(https://andyhoffman.codes/random-assets/img/slots/repeat.png) transparent 0 0 no-repeat;
  background-size: cover;
  width: 68px;
  height: 68px;
  position: flex;
  cursor: pointer;
  animation: 6s linear infinite spin;
}

